<div
    class="item{{doneClass}}"
    draggable="true"
    data-i="{{id}}"
    data-s="{{scope}}"
    ondragstart="dragStart(event,'{{id}}','{{scope}}')"
    ondragover="dragOver(event)"
    ondragleave="dragLeave(event)"
    ondrop="drop(event,'{{id}}','{{scope}}')"
>
    <div class="ck" onclick="toggleDone('{{scope}}','{{id}}',{{done}})">{{checkmark}}</div>
    <div class="pr {{priorityClass}}"></div>
    <span class="lbl" onclick="openEdit('{{scope}}','{{id}}')">{{title}}</span>
    <div class="tail">
        {{reminderBadge}}
        <div class="acts">
            <button
                class="abtn{{bellClass}}"
                onclick="openReminderPicker('{{scope}}','{{id}}','{{reminderAt}}')"
                title="{{bellTitle}}"
            >
                {{bellIcon}}
            </button>
        </div>
    </div>
</div>
